!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %meta{ name: "viewport", content: "width=640,user-scalable=no,minimal-ui" }
    %title StamPPP
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  %body
    - if flash[:notice]
      .alert.alert-success
        = flash[:notice]
    - if flash[:alert]
      .alert.alert-danger
        = flash[:alert]
    = yield
